# Database
DATABASE_URL=mongodb://localhost:27017/healthcare

# Hedera Configuration
HEDERA_NETWORK=testnet
HEDERA_ACCOUNT_ID=0.0.123456
HEDERA_PRIVATE_KEY=your_private_key_here

# IPFS Configuration
IPFS_URL=http://localhost:5001

# JWT Secret
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRATION_SECONDS=86400
IPFS_ENCRYPTION_KEY=generate_a_32_byte_hex_encoded_key

# Server Configuration
SERVER_PORT=3443
USE_TLS=false

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=